<div class="col-md-12 col-lg-12">
  <div class="row" style="border: solid 2px;">
    <div class="col-md-2">
      <p>Description / Narrative | tag</p>
    </div>
    <div class="col-md-1">
      <p>Subject</p>
    </div>
    <div class="col-md-1">
      <p>Date In</p>
    </div>
    <div class="col-md-1">
      <p>Date Out</p>
    </div>
    <div class="col-md-1">
      <p>QTY</p>
    </div>
    <div class="col-md-1">
      <p>Cost</p>
    </div>
    <div class="col-md-1">
      <p>Purches price</p>
    </div>
    <div class="col-md-1">
      <p>Value</p>
    </div>
    <div class="col-md-1">
      <p>Gain/loss detail</p>
    </div>
    <div class="col-md-1">
      <p>Gain/loss %</p>
    </div>
    <div class="col-md-1">
      <p>Sale costs</p>
    </div>
  </div>

  <div class="row" style="border: solid 2px;">
    <div class="col-md-2" #values>
      <p>Description / Narrative | tag</p>
    </div>
    <div class="col-md-1">
      <p>Subject</p>
    </div>
    <div class="col-md-1">
      <p>Date In</p>
    </div>
    <div class="col-md-1">
      <p>Date Out</p>
    </div>
    <div class="col-md-1">
      <p>QTY</p>
    </div>
    <div class="col-md-1">
      <p>Cost</p>
    </div>
    <div class="col-md-1">
      <p>Purches price</p>
    </div>
    <div class="col-md-1">
      <p>Value</p>
    </div>
    <div class="col-md-1">
      <p>Gain/loss detail</p>
    </div>
    <div class="col-md-1">
      <p>Gain/loss %</p>
    </div>
    <div class="col-md-1">
      <p>Sale costs</p>
    </div>
  </div>
</div>
