<div class="col-md-12 col-lg-12">
  <div class="row" style="border: solid 2px;">
    <div class="col-md-12 col-lg-12">
      <div class="col-md-1">
        <p>Company</p>
      </div>
      <div class="col-md-1">
        <p>Symbol</p>
      </div>
      <div class="col-md-1">
        <p>Date In</p>
      </div>
      <div class="col-md-1">
        <p>QTY</p>
      </div>
      <div class="col-md-1">
        <p>Cost</p>
      </div>
      <div class="col-md-1">
        <p>Purches price</p>
      </div>
      <div class="col-md-1">
        <p>Price</p>
      </div>
      <div class="col-md-1">
        <p>Value</p>
      </div>
      <div class="col-md-1">
        <p>Gain/loss detail</p>
      </div>
      <div class="col-md-1">
        <p>Gain/loss %</p>
      </div>
      <div class="col-md-1">
        <p>Sale costs</p>
      </div>
    </div>
  </div>

<div class="row" style="border: solid 2px;" *ngIf="whatIfStockSelected">
  <div class="col-md-12 col-lg-12">
    <div class="col-md-1">
      <!-- company -->
      <p>{{whatIfStockSelected.company}}</p>
    </div>

    <div class="col-md-1">
      <!-- symbol  -->
      <p>{{whatIfStockSelected.exchange}}</p>
    </div>

    <div class="col-md-1">
      <!-- Date In -->
      <p>{{whatIfStockSelected.date | date:'shortDate'}}</p>
    </div>

    <div class="col-md-1">
      <!-- Qty -->
      <p>{{whatIfStockSelected.qty}}</p>
    </div>

    <div class="col-md-1">
      <!-- Cost -->
      <p>{{whatIfStockSelected.qty * whatIfStockSelected.price | number:maxFractionDigits}}</p>
    </div>

    <div class="col-md-1">
      <!-- Purches price -->
      <p>{{whatIfStockSelected.price}}</p>
    </div>

    <div class="col-md-1">
      <!-- price -->

      <input [(ngModel)]="whatIfPrice" type="text" />
    </div>

    <div class="col-md-1">
      <!-- value  -->
      <p>
        {{ whatIfPrice * whatIfStockSelected.qty | number:maxFractionDigits}}
      </p>
    </div>

    <div class="col-md-1">
      <!-- gain loss -->
      <p [ngStyle]="{'color':getGainLossWhatIf() > 0 ? 'green': 'red' }">
        {{ getGainLossWhatIf()  | number:maxFractionDigits}}
      </p>
    </div>

    <div class="col-md-1">
      <!-- gain loss % -->
      <p [ngStyle]="{'color':getGainLossWhatIfPer() > 0 ? 'green': 'red' }">
        {{ getGainLossWhatIfPer() | number:maxFractionDigits}}
      </p>
    </div>

    <div class="col-md-1">
      <!-- sale cost  -->
      <p>
        {{(saleValue(whatIfPrice * whatIfStockSelected.qty)) | number:maxFractionDigits}}
      </p>
    </div>
  </div>
</div>
  
  <div class="row" style="border: solid 2px;" *ngIf="user.holdings" id="stockbox">
    <div class="col-md-12 col-lg-12" *ngFor="let value of user.holdings; let i = index">
      <hr>
      <div class="col-md-1">
        <!-- company -->
        <p>{{value.company}}</p>
      </div>
  
      <div class="col-md-1">
        <!-- symbol  -->
        <p>{{value.exchange}}</p>
      </div>
  
      <div class="col-md-1">
        <!-- Date In -->
        <p>{{value.date | date:'shortDate'}}</p>
      </div>
  
      <div class="col-md-1">
        <!-- Qty -->
        <p>{{value.qty}}</p>
      </div>
  
      <div class="col-md-1">
        <!-- Cost -->
        <p>{{value.qty*value.price | number:maxFractionDigits}}</p>
      </div>
  
      <div class="col-md-1">
        <!-- Purches price -->
        <p>{{value.price}}</p>
      </div>
  
      <div class="col-md-1">
        <!-- price -->
        <p>{{getCurrentValueOfStock(value.exchange, value.company)}}</p>
      </div>
  
      <div class="col-md-1">
        <!-- value  -->
        <p> {{ getValue(value) | number:maxFractionDigits }} </p>
      </div>
  
      <div class="col-md-1">
        <!-- gain loss -->
        <p [ngStyle]="{'color':getGainLoss(value) > 0 ? 'green': 'red'}">
          {{ getGainLoss(value) | number:maxFractionDigits }}
        </p>
      </div>
  
      <div class="col-md-1">
        <!-- gain loss % -->
        <p [ngStyle]="{'color':getGainLossPer(value) > 0 ? 'green': 'red'}">
          {{getGainLossPer(value) | number:maxFractionDigits }}
        </p>
      </div>
  
      <div class="col-md-1">
        <!-- sale cost  -->
        <p>{{getSaleValue(value)| number:maxFractionDigits }}</p>
      </div>

      <div class="col-md-1">
        <button type="submit" class="btn btn-primary" (click)="setWhatIfStock(value)">What If
        </button>
      </div>
    </div>
  </div>
</div>