
<nav class="navbar navbar-default" appDropdown>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" (click)="onToggleMenu()" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only" appDropdown>Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Finance App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" [ngClass]="{'navbar-collapse collapse in' : toggleMenu === true, 'navbar-collapse collapse' : toggleMenu === false}">
      <ul class="nav navbar-nav">
        <li *ngIf="authservice.isAuthenticated()">
          <a routerLink="/">Your Stock</a>
        </li>
        <li *ngIf="authservice.isAuthenticated()"> <a routerLink="/soldstock">Sold Stock</a></li>
        <li *ngIf="authservice.isAuthenticated()">
          <a routerLink="/buystock">Buy Stock</a>
        </li>
        <li *ngIf="authservice.isAuthenticated()">
          <a routerLink="/whatif">What If</a>
        </li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test Cases
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active" (click)="onToggleMenu()">
              <a routerLink="/test/0">Orignal sample</a>
            </li>
            <li routerLinkActive="active" (click)="onToggleMenu()">
              <a routerLink="/test/1">Case 1 +10%</a>
            </li>
            <li routerLinkActive="active" (click)="onToggleMenu()">
              <a routerLink="/test/2">Case 2 -10%</a>
            </li>
            <li routerLinkActive="active" (click)="onToggleMenu()">
              <a routerLink="/test/3">Case 3 +20%</a>
            </li>
            <li routerLinkActive="active" (click)="onToggleMenu()">
              <a routerLink="/test/4">Case 4 -20%</a>
            </li>
            <li routerLinkActive="active" (click)="onToggleMenu()">
              <a routerLink="/test/5">Case 5 +100%</a>
            </li>
        
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authservice.isAuthenticated()" (click)="onToggleMenu()"><a routerLink="/login">Login</a></li>
        <li *ngIf="!authservice.isAuthenticated()" (click)="onToggleMenu()"><a routerLink="/signup">Signup</a></li>
        <li *ngIf="authservice.isAuthenticated()" (click)="onLogout()" (click)="onToggleMenu()">
          <a routerLink="/">logout</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
