<div class="col-md-12 col-lg-12">
  <div class="row" style="border: solid 2px;">
    <div class="col-md-12 col-lg-12">
      <div class="col-md-1">
        <p>Company</p>
      </div>
      <div class="col-md-1">
        <p>Symbol</p>
      </div>
      <div class="col-md-1">
        <p>Date In</p>
      </div>
      <div class="col-md-1">
        <p>QTY</p>
      </div>
      <div class="col-md-1">
        <p>Cost</p>
      </div>
      <div class="col-md-1">
        <p>Purches price</p>
      </div>
      <div class="col-md-1">
        <p>Price</p>
      </div>
      <div class="col-md-1">
        <p>Value</p>
      </div>
      <div class="col-md-1">
        <p>Gain/loss detail</p>
      </div>
      <div class="col-md-1">
        <p>Gain/loss %</p>
      </div>
      <div class="col-md-1">
        <p>Sale costs</p>
      </div>
    </div>
  </div>

  <div class="row" style="border: solid 2px;" *ngIf="user.holdings" id="stockbox">
    <div class="col-md-12 col-lg-12">
      <hr>
      <div class="col-md-1">
        <!-- company -->
        <p>Cash Holdings</p>
      </div>
    
      <div class="col-md-1">
        <!-- symbol  -->
        <p></p>
      </div>
    
      <div class="col-md-1">
        <!-- Date In -->
        <p></p>
      </div>
    
      <div class="col-md-1">
        <!-- Qty -->
        <p>1</p>
      </div>
    
      <div class="col-md-1">
        <!-- Cost -->
        <p>100.00</p>
      </div>
    
      <div class="col-md-1">
        <!-- Purches price -->
        <p></p>
      </div>
    
      <div class="col-md-1">
        <!-- price -->
        <p></p>
      </div>
    
      <div class="col-md-1">
        <!-- value  -->
        <p> 100 </p>
      </div>
    
      <div class="col-md-1">
        <!-- gain loss -->
        <p>
          
        </p>
      </div>
    
      <div class="col-md-1">
        <!-- gain loss % -->
        <p></p>
      </div>
    
      <div class="col-md-1">
        <!-- sale cost  -->
        <p></p>
      </div>
    
      <div class="col-md-1">
        <p></p>
      </div>
    </div>
    <div class="col-md-12 col-lg-12" *ngFor="let value of user.holdings; let i = index">
      <hr>
      <div class="col-md-1">
        <!-- company -->
        <p>{{value.company}}</p>
      </div>

      <div class="col-md-1">
        <!-- symbol  -->
        <p>{{value.exchange}}</p>
      </div>

      <div class="col-md-1">
        <!-- Date In -->
        <p>{{value.date | date:'shortDate'}}</p>
      </div>

      <div class="col-md-1">
        <!-- Qty -->
        <p>{{value.qty}}</p>
      </div>

      <div class="col-md-1">
        <!-- Cost -->
        <p>{{value.qty*value.price | number:maxFractionDigits}}</p>
      </div>

      <div class="col-md-1">
        <!-- Purches price -->
        <p>{{value.price}}</p>
      </div>

      <div class="col-md-1">
        <!-- price -->
        <p>{{getCurrentValueOfStock(value.exchange, value.company)}}</p>
      </div>

      <div class="col-md-1">
        <!-- value  -->
        <p> {{ getValue(value) | number:maxFractionDigits }} </p>
      </div>

      <div class="col-md-1">
        <!-- gain loss -->
        <p [ngStyle]="{'color':getGainLoss(value) > 0 ? 'green': 'red'}">
          {{ getGainLoss(value) | number:maxFractionDigits }}
        </p>
      </div>

      <div class="col-md-1">
        <!-- gain loss % -->
        <p [ngStyle]="{'color':getGainLossPer(value) > 0 ? 'green': 'red'}">
          {{getGainLossPer(value) | percent }}
        </p>
      </div>

      <div class="col-md-1">
        <!-- sale cost  -->
        <p>{{getSaleValue(value)| number:maxFractionDigits }}</p>
      </div>

      <div class="col-md-1">
      </div>
    </div>
  </div>

  <div class="row" style="border: solid 2px;" *ngIf="user.holdings" [ngStyle]="{'background':getGrossProfitAfterSaleCost() - getTotalPurchesPrice() > 0 ? '#98FB98': '#FFCCCC'}">
    <div class="col-lg-2">
      <div class="row">
        <p>Total Purchas Cost</p>
      </div>
      <div class="row">
        <p>{{getTotalPurchesPrice() | number:maxFractionDigits}}</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="row">
        <p>Total Sell Costs</p>
      </div>
      <div class="row">
        <p>{{getTotalSellPrice() | number:maxFractionDigits}}</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="row">
        <p> Gross Present Value</p>
      </div>
      <div class="row">
        <p>{{getTotalValue() | number:maxFractionDigits}}</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="row">
        <p> GPV after Sale Cost</p>
      </div>
      <div class="row">
        <p>{{getGrossProfitAfterSaleCost() | number:maxFractionDigits}}</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="row">
        <p>Gross Profit/Loss</p>
      </div>
      <div class="row">
        <p>{{getGrossProfitAfterSaleCost() - getTotalPurchesPrice() | number:maxFractionDigits}}</p>
      </div>
    </div>

  </div>

</div>